header {
  background-color: #5f0000;
  border: solid 2px black; }

body {
  background-color: aliceblue; }

.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto; }

.catalogo {
  display: flex; }

input {
  text-align: initial;
  margin: auto;
  display: flex;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 2px;
  border-radius: 20px;
  border-color: #5f0000; }

.carrito{
  border: none;
  background: none;
}

/*====================================FILTROS===============================================================*/

.filtro {
  display: flex;
  flex-direction: column;
  width: 14%;
  margin-top: 25px; }

.filtro .filtro-productos {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #5f0000;
  border: solid 2px black;
  border-radius: 14px;
  text-align: center;
  text-decoration: none;
  color: white; }

.filtro .filtro-activado {
  background-color: black; }

/*==================================================PRODUCTOS==============================================================*/

.lista_productos {
  width: 86%;
  display: flex;
  flex-wrap: wrap; }

.lista_productos .productos {
  width: 50%;
  height: 100%;
  max-height: 400px;
  max-width: 250px;
  margin-left: 6%;
  border: solid black;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px; }

.lista_productos .productos img {
  height: 85%;
  max-width: 100%;
  border: none;
  border-radius: 15px; }

  .lista_productos .productos p{
  display: block;
  width: 100%;
  background: #5f0000;
  text-align: center;
  text-decoration: none;
  color: white;
  border-top: solid 1px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 15%; 
  height: 100%;}

.lista_productos .productos button:hover {
  color: black;}

.lista_productos .productos p button{
  color: white;
  text-decoration: none;
  font-size: large;
  margin-left: 10%;
  background: none;
  border: none;
}
/*=================================================BUSCADOR================================================================*/  
.buscador {
  display: none;
}
