header {
  background-color: #b10000d1;
  border: solid 2px black; }

body {
  background-color: aliceblue; }

.wrap {
  max-width: 1100px;
  width: 90%;
  margin: auto; }

.catalogo {
  display: flex; 
  justify-content: space-around;}

.wrap input {
  text-align: initial;
  margin: auto;
  display: flex;
  width: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 2px;
  border-radius: 20px;
  border-color: #b10000d1; }

.carrito{
  border: none;
  background: none;
}

/*====================================FILTROS===============================================================*/

.filtro {
  display: flex;
  flex-direction: column;
  width: 14%;
  margin-top: 25px; }

.filtro .filtro-productos {
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background: #b10000d1;
  border: solid 2px black;
  border-radius: 14px;
  text-align: center;
  text-decoration: none;
  color: white; }

.filtro .filtro-activado {
  background-color: black; }

.hide{
  display: none;
}

/*==================================================PRODUCTOS==============================================================*/

.contenido{
  width: 86%;
  display: flex;
  flex-wrap: wrap; }

.cards{
  width: 50%;
  height: 30%;
  max-height: 500px;
  max-width: 250px;
  margin-left: 6%;
  margin-top: 25px;
  margin-bottom: 35px; }

.img {
  height: 85%;
  width: 100%;
  border: solid 2px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

  .producto{
  display: block;
  width: 100%;
  background: #b10000d1;
  text-align: center;
  text-decoration: none;
  color: white;
  border-top: solid 2px black;
  border-top: none;
  max-height: 11%; 
  height: 100%;
  margin-bottom: 0%;
  }

.agregar:hover {
  color: #b10000d1;}

.agregar{
  color: white;
  text-decoration: none;
  font-size: 14px;
  background: none;
  border: solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #000000;
  width: 100%;
}


.eliminarProd{
  cursor: pointer;
}

.cantidadcarrito{
  background-color: white;
  color: #000000;
  border-radius: 50%;
  font-size: 14px;
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  top: 37px;
  right: 12px;
  position: absolute;
  display: none;
}

/*=================================================BUSCADOR================================================================*/  
.buscador {
  visibility: hidden;  
  order: 1;
}

/*================================================MODAL=====================================================================*/
.modal-contenido{
  width: 50%;
  margin-left: 50%;
  max-height: 83%;
  color: white;
  background-color: #b10000d1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 17%;
  border-radius: 10px;
  scrollbar-color: none;
}

.modal-contenido::-webkit-scrollbar{
  display: none;
}

.modalHeader{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 100%;
}

.modalHeaderTitulo{
  justify-self: start;
}

.modalHeaderBoton{
  cursor: pointer;
  font-size: 37px;
}

.modalHeaderBoton:hover{
  color: #b10000d1;
}

.modalProductos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.modalImg{
  height: 10%;
  width: 15%;
  border: solid 1px black;
}

.totalContenido{
  font-size: 20PX;
  padding: 20px;
}
.suma{
  cursor: pointer;
  font-size: 12px;
}

.restar{
  cursor: pointer;
  font-size: 12px;
}

.eliminarprod{
  cursor: pointer;
  font-size: 12px;
}

.vaciar{
  border-radius: 10px;
  background-color: #000000;
  color: white;
  border: none;
  margin-right: 100px;
}
.vaciar:hover{
  color:#b10000d1;
}

.comprar{
  border-radius: 10px;
  background-color: #000000;
  color: white;
  border: none;
  margin-left: 100px;
}
.comprar:hover{
  color:#b10000d1;
}

/*=========================================FINALIZAR COMPRAR==========================================================*/

.compraheader{
  margin-top: 1%;
}

.titulo_compra{
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  
}

.compracliente{
  margin: 5%;
}

.oracion{
  margin-bottom: 5%;
  width: 50%;
  display: inline-flex;
}

.datos{
  font-size: 20px;
  margin-right: 50px;
  margin-bottom: 10px;
  width: 15%;
}

.barra{
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.979);
  border-top: none;
  border-left: none;
  border-bottom-right-radius: 5px;
  width: 100%;
  font-size: 20px;
}

.compracontenido{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.finalizar{
  border: 2px solid black;
  border-radius: 5px;
  background-color:#b10000d1;
  color: white;
  font-size: 25px;
  margin-top: 5%;
  margin-left: 75%;
}